.gerenciador {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__erro {
        display: none;
        justify-content: center;
        color: red;
        margin-top: 3%;
    }

    &__botoes {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        &-secundario {
            margin-left: 2%;
        }
    }

    &__cadastrar {
        display: none;

        &-tabela {
            width: 50%;
            margin-bottom: 0;

            input {
                width: 60px;
            }
        }
    }

    &__editar {
        display: none;

        &-tabela {
            width: 52%;
            display: none;
            align-items: center; 
        }

    }

    &__excluir {
        display: none;
    }
}

#inputEditar {
    width: 100%;
    display: none;
}

#inputExcluir {
    width: 100%;
    display: none;
}

@media (min-width: 992px) {
    .gerenciador {

        &__botoes {
            width: 30%;
        }

        &__cadastrar {
            &-tabela {

                input {
                    width: 100%;
                }

            }
        }
    }

    #inputEditar {
        width: 20%;
    }

    #inputExcluir {
        width: 20%;
    }

}